@page "/posts"
@inject NavigationManager UriHelper

@using Posts
@using System.Collections
@using System.Collections.Generic
@using System.Reflection
@using DataService


<div style="border:1px solid black">
    @foreach (var post in testPosts)
    {
        @if (post.FullName != "Posts.IPostMetadata" && post.FullName != "Posts.PostMetadata")
        {
            dynamic currentPost = Activator.CreateInstance(post);

            <div style="border:1px solid red">
                <div>
                    @*<h1>@currentPost.postMetadata.Title</h1>
                    <h3>@currentPost.postMetadata.SubHeading</h3>
                    <h3>@currentPost.postMetadata.Category</h3>
                    <h5>@currentPost.postMetadata.Author</h5>
                    <h5>@currentPost.postMetadata.Date</h5>*@
                </div>
                <div>
                    <h5>@post.Name</h5>
                    <h3>@post.TestTitle</h3>
                    <h5>@post.TestSubHeading</h5>
                </div>


                <br />

                <button type="button" @onclick=@(e => UriHelper.NavigateTo(post.Name))>Read Post</button>
            </div>
        }
    }
</div>

@code {

    IEnumerable<Type> posts = Assembly
            .GetExecutingAssembly()
            .GetTypes()
            .Where(t => t.Namespace.Equals("Posts"))
            .OrderBy(x => x.Name);

    List<Type> testPosts = DataService.PostsService.GetPosts();

}
